:root{
    --branco-principal:#FFFFFF;
    --cinza-secund치rio:#C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
}

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400px;
}

.principal{
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
    
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 60% 40%;
}

.container__caixa{
    margin: 0 6em;
}

.container__titulo{
    font-size: 28px;
    font-weight: 700;
}

.container__imagem{
    margin: 1em 0 2em 0
}

.container__botao{
    
    text-decoration: none;
    color: var(--branco-principal);
    background-color: var(--botao-azul);
    padding: 1em;
    border-radius: 8px;
    display: block;
    margin-bottom: 1em;
}

.botao_secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso{
    font-size: 12px;
    color: var(--cinza-secund치rio);
}

.secundario__imagem{
    width: 80%;
}

.secundario{
    margin: 0 6em;
    align-items: center;
}

.secundario__texto{
    color: var(--cinza-secund치rio);
    padding-bottom: 1em;
    
}

.container__descricao{
    font-size: 16px;
    color: var(--cinza-secund치rio);
    
}

.container__descricao__titulo{
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}



.botao__terciario{
    display: inline-block;
}

.terciario__imagem{
    width: 80%;
}

