:root{
    --branco-principal:#FFFFFF;
    --cinza-secundário:#C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #4394f8;
}

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400px;
}

.principal{
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
    
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 60% 40%;
}

.container__caixa{
    margin: 0 6em;
}

.container__titulo{
    font-size: 28px;
    font-weight: 700;
}

.container__imagem{
    margin: 1em 0 2em 0
}

.container__botao{
    
    text-decoration: none;
    color: var(--branco-principal);
    background-color: var(--botao-azul);
    padding: 1em;
    border-radius: 8px;
    display: block;
    margin-bottom: 1em;
}

.container__botao:hover{
    background-color: var(--botao-azul-efeito);
}

.botao_secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso{
    font-size: 12px;
    color: var(--cinza-secundário);
}

.secundario__imagem{
    width: 80%;
}

.secundario{
    margin: 0 6em;
    align-items: center;
}

.secundario__texto{
    color: var(--cinza-secundário);
    padding-bottom: 1em;
    padding-right: 2em;
    
}

.container__descricao{
    font-size: 16px;
    color: var(--cinza-secundário);
    
}

.container__descricao__titulo{
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}



.botao__terciario{
    display: inline-block;
}

.terciario__imagem{
    width: 80%;
}

.dispositivos{
    padding: 2em;
    text-align: center;
    
}

.triplo{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: 2em;
    padding: 3em 10em 0em 10em;
    
    
}

.triplo__elemento{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.triplo__elemento__titulo{
    font-size: 38px;
}

.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6em;
    gap: 2em;
}

.rodape__lista{

    display: flex;
    list-style-type: none;
    gap: 3em;
    
}

.lista__link{
    text-decoration: none;
    color: var(--branco-principal);
}

.lista__link:hover{
    color: var(--botao-azul);
}

.rodape__logo{
    width: 5em;
}

.rodape__texto{
    text-align: center;
    color: var(--cinza-secundário);
    font-size: 14px;
}